@model IEnumerable<Shop_ThoiTrang_Online.Models.Sanpham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/page/content.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tensp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giakhuyenmai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hangsx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gianhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tinhtrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaisp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.khuyenmai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinhanh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tensp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dongia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giakhuyenmai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hangsx)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gianhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tinhtrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loaisp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.khuyenmai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinhanh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.masp }) |
            @Html.ActionLink("Details", "Details", new { id=item.masp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.masp })
        </td>
    </tr>
}

</table>
