@model IEnumerable<Shop_ThoiTrang_Online.Models.Sanpham>
@{
    ViewBag.Title = "Áo thun nữ";
}

<section>
    <div class="container">
        <div class="row">
            @Html.Partial("page/_leftsidebar")

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">@ViewBag.Title</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/Media/images/nu/@item.hinhanh" alt="" />
                                        <h2 style="text-transform:uppercase;">@item.giakhuyenmai vnd</h2>
                                        <p>@item.tensp</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <img src="~/Media/images/nu/@item.hinhanh" alt="" />
                                            <h2 style="text-transform:uppercase;">@item.giakhuyenmai vnd</h2>
                                            <p><a href="/Product/details?masp=@item.masp">Xem chi tiết</a></p>
                                            <a href="/Cart/them_gio_hang?masp=@item.masp" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li style="color:#bab4b4; text-align:center; text-decoration:line-through;">@item.dongia vnd</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                    <ul class="pagination">
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">&raquo;</a></li>
                    </ul>
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>
